.first-screen {
	background-image: url(../img/fs-bg.png) no-repeat center/cover;
	padding: 135px 0 230px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-5;
		z-index: 0;
	}

	&__container {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__title {
		font-weight: 700;
		font-size: 5.5rem;
		margin-bottom: 70px;
		color: $default-text-color;
		text-align: center;
	}
}

.fs-filter {

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 18px;
	}

	&__input {
		display: none;
	}

	&__item {
		background-color: $color-7;
		margin: 0 2px;
		color: $default-text-color;
		font-size: 2rem;
		line-height: 1.1;
		font-weight: 500;
		width: 190px;
		text-align: center;
		padding: 14px 15px;
		cursor: pointer;
		@include border-radius(2px);

		&_active {
			background-color: $color-4;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 100%;
				@include translate($x: -50%);
				height: 0;
				border-left: 15px solid transparent;
				border-top: 15px solid $color-4;
				border-bottom: 0 none;
				border-right: 15px solid transparent;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&__bottom {
		width: 100%;
		background-color: $default-color;
		box-shadow: 0px 6px 13px $color-10;
		@include border-radius(5px);
		padding: 12px 12px 12px 0;
		min-height: 75px;
	}
}

.filter-form {

	&__wrapper {
		display: flex;
	}

	&__select-inside-position {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;

		&:after {
			position: static;
			@include translate(0);
			margin-left: 10px;
		}
	}

	&__wrapper-sell {
		display: none;

		.btn {
			&:before {
				content: none;
			}
		}
	}

	&.sell-action {
		.filter-form__wrapper {
			display: none;
		}

		.filter-form__wrapper-sell {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100%;
			padding-left: 26px;
		}
	}

	&__select-item {
		pointer-events: none;
	}

	&__type {
		display: flex;
		align-items: center;
		width: 100%;
		flex-grow: 1;
		position: relative;

		&:not(:last-child) {
			border-left: 1px solid $color-6;
		}
	}

	&__custom-select {
		min-width: auto;
		padding-left: 26px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;

		.custom-select__head {
			margin-bottom: 0;
		}

		.custom-select__list {
			min-width: auto;
			width: 100%;
			left: -1px;
			padding: 10px 26px;
		}
	}

	&__btn {
		min-width: 180px;
		padding: 14px 20px;
		background-color: $color-2;
		border: none;
		box-shadow: none;
		outline: none;
		color: $default-text-color;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.1;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			content: '';
			display: block;
			width: 23px;
			height: 23px;
			background-image: url(../img/search.svg) no-repeat center/contain;
			margin-right: 11px;
		}
	}
}

.apart-type {
	display: none;
}


@include for-small-desktop {
	.first-screen {
		padding: 100px 0 180px;

		&__title {
			font-size: 5rem;
		}
	}


	.fs-filter {

		&__bottom {
			padding: 8px 8px 8px 0;
		}
	}

	.filter-form {

		&__type {
			&:after {
				right: 15px;
			}
		}

		&__input {
			font-size: 1.4rem;
			padding: 16px 12px 16px 12px;

			&:focus {
				font-size: 1.4rem;
			}
		}

		&__btn {
			min-width: 140px;
			font-size: 1.8rem;

			&:before {
				width: 18px;
				height: 18px;
			}
		}
	}
}


@include for-very-small-desktop {
	.first-screen {
		padding: 55px 0 60px;
	}

	.fs-filter {

		&__bottom {
			padding: 16px 10px 16px;
			max-width: 720px;
			width: 100%;
			margin: 0 auto;
		}
	}

	.filter-form {

		&__wrapper {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__wrapper-sell {
			text-align: center;
			flex-direction: column;
			padding-left: 0 !important;
		}

		&__type {
			margin-bottom: 15px;

			&:not(:last-child) {
				border-left: none;
			}
		}

		&__custom-select {
			padding-left: 0;

			.custom-select__list {
				margin-top: 6px;
				border: 1px solid $color-12;
			}
		}

		&__select-inside-position {
			padding-right: 0;
			justify-content: center;
			flex-direction: column;

			&:after {
				margin-left: 0;
				margin-top: 3px;
			}
		}

		&__input {
			border-right: none;
			border-bottom: 1px solid $color-6;
		}

		&__btn {
			margin-top: 15px;
			min-width: 230px;

			&:before {
				display: none;
			}
		}

		.custom-select__list-item {
			text-align: center;
		}
	}


}


@include for-phone-only {
	.first-screen {
		padding: 40px 0 60px;

		&__title {
			font-size: 3.2rem;
			margin-bottom: 40px;
		}

	}

	.fs-filter {

		&__item {
			font-size: 1.6rem;
			padding: 12px 10px;

			&_active {
				&:after {
					border-left: 12px solid transparent;
					border-top: 12px solid #c85b4d;
					border-right: 12px solid transparent;
				}
			}
		}
	}

	.filter-form {

		&__type {
			margin-bottom: 10px;
		}

		&__btn {
			margin-top: 15px;
			font-size: 1.6rem;
			width: 100%;
			padding: 12px 10px;
		}
	}

}


@include for-small-phone {
	.first-screen {
		padding: 30px 0 40px;

		&__title {
			margin-bottom: 30px;
		}
	}
}