.filter {
	padding: 35px 20px 15px;
	border: 1px solid $color-12;
	@include border-radius(5px);

	&__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&:nth-child(3) {
			min-width: 167px;
		}

		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__inside-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__head {
		font-weight: 600;
	}

	&__item {
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__checkbox {
		margin-right: 10px;
	}

	&__item-text {
		font-size: 1.6rem;
		line-height: 1.15;
	}

	&__separator {
		height: 1px;
		width: 100%;
		background-color: $color-12;
		margin: 10px 0 22px;
	}

	&__select {
		margin-bottom: 6px;
	}

	&__nouislider {
		&:first-child {
			margin-bottom: 20px;
		}
	}

	&__button {
		width: 170px;
	}

	&__additional-content {
		display: none;
		padding-top: 15px;
	}

	&__additional-content-wrapper {
		display: flex;
		border-top: 1px solid $color-12;
		padding-top: 20px;
	}

	&__additional-btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		appearance: none;
		border: none;
		outline: none;
		background-color: none;
		margin-top: 20px;
		font-size: 1.4rem;
		font-weight: 700;
		cursor: pointer;

		&:after {
			content: '';
			min-width: 18px;
			width: 18px;
			height: 10px;
			background: url(../img/add-arrow.svg) no-repeat center/contain;
			margin-top: 8px;
		}
	}
}