// GRID
$container-width: 1210px;
$section-default-padding: 60px 0;
$default-line-height: 1.3;

// COLORS
$color-1: #000000;
$color-2: #BA685D;
$color-3: #303030;
$color-4: #C85B4D;
$color-5: rgba(70, 63, 62, .78);
$color-6: #E7E7F0;
$color-7: #AC6557;
$color-8: #FAFAFA;
$color-9: #555555;
$color-10: #6C463E;
$color-11: rgba(70, 63, 62, .40);
$color-12: #E9E9E9;
$default-color: #ffffff;

$color-text-1: #000000;
$color-text-2: #BA685D;
$color-text-3: #303030;
$color-text-4: #C85B4D;
$color-text-5: rgba(70, 63, 62, .78);
$color-text-6: #E7E7F0;
$color-text-7: #AC6557;
$color-text-8: #FAFAFA;
$color-text-9: #555555;
$color-text-10: #6C463E;
$color-text-11: rgba(70, 63, 62, .70);
$color-text-12: #E9E9E9;
$default-text-color: #ffffff;

// FAMILY
$main-font: "Lato",
sans-serif;